.forum {
    display: flex;
    gap: 30px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: url(/public/images/bg-body2.png) repeat-y top center;
}

.posts {
    /* flex-grow: 3; */
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar {
    /* flex-grow: 2; */
    flex-basis: 30%;
    border: 1px solid #22272a;
}