body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  background: url(../public/images/bg-body.jpg) repeat;
  color: #727272;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1;
  margin: 0;
  min-width: 960px;
  padding: 0;
}

@font-face {
	font-family: 'Philosopher-Regular';
	src: url('../public/fonts/Philosopher-Regular/Philosopher-Regular.eot');
	src: url('../public/fonts/Philosopher-Regular/Philosopher-Regular.woff') format('woff'), url('../public/fonts/Philosopher-Regular/Philosopher-Regular.ttf') format('truetype'), url('../public/fonts/Philosopher-Regular/Philosopher-Regular.svg') format('svg');
}
@font-face {
	font-family: 'Philosopher-Bold';
	src: url('../public/fonts/Philosopher-Bold/Philosopher-Bold.eot');
	src: url('../public/fonts/Philosopher-Bold/Philosopher-Bold.woff') format('woff'), url('../public/fonts/Philosopher-Bold/Philosopher-Bold.ttf') format('truetype'), url('../public/fonts/Philosopher-Bold/Philosopher-Bold.svg') format('svg');
}
