.App {
  height: 100vh;
  background: url(../public/images/bg-page.jpg) no-repeat top center;
}
header {
  height: 120px;
}

.current-page {
  margin: 0 auto;
  width: 960px;
  background: url(../public/images/bg-body-footer.png) no-repeat bottom center;
  padding: 0 0 114px;
}
