.App {
  height: 100vh;
  background: url(../public/images/bg-page.jpg) no-repeat top center;
}
header {
  height: 120px;
}

.current-page {
  background-color: blanchedalmond;
  margin: 0 auto;
  /* min-height: 400px; */
  width: 960px;
  background: url(../public/images/bg-body-footer.png) no-repeat bottom center;
  /* margin: 0; */
  padding: 0 0 114px;
}
.current-page div {
  background: url(/public/images/bg-body2.png) repeat-y top center;
  min-height: 400px;
  padding: 24px 0;
}
